<p id="notice"><%= notice %></p>

<h1>Homes</h1>

<form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
</form>

<div class="container">
  <div class="row">
    <% @homes.each do |home| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), home.photo">
          <div class="card-description">
            <p><%= home.address %></p>
            <p><%= home.user_id %></p>
          </div>
          <%= link_to 'Show', home %>
        </div>
      </div>
    <% end %>
    </div>
  </div>

<br>

<% if policy(Home).create? %>
  <%= link_to "New home", new_home_path() %>
<% end %>

<br>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
