<p id="notice"><%= notice %></p>

<div>
 <% @home.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</div>

<p>
  <strong>Address:</strong>
  <%= @home.address %>
</p>

<p>
  <strong>Region:</strong>
  <%= @home.region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @home.country %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @home.postcode %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @home.bedrooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @home.bathrooms %>
</p>

<p>
  <strong>Swimming pool:</strong>
  <%= @home.swimming_pool %>
</p>

<p>
  <strong>Description:</strong>
  <%= @home.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @home.user_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @home.type %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
