<p id="notice"><%= notice %></p>

<div class="container">

  <div class ="row d-flex justify-content-between align-items-baseline">
    <h1>Home Details</h1>
    <p>
      <% if @home.user == current_user || current_user.present? && current_user.admin? %>
        <%= link_to 'Edit', edit_home_path() %>
      <% end %>
      <% if @home.user == current_user || current_user.present? && current_user.admin? %>
        <%= link_to 'Destroy', @home, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <%= link_to 'Back', homes_path %>
    </p>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="m-1">
        <% @home.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
     </div>
      <p>Hosted by <%= @home.user_id %></p>
      <p><%= @home.bedrooms %> bedrooms,<%= @home.bathrooms %> bathrooms</p>
      <hr>
      <div class="p-3">
        <% if @home.swimming_pool = true %>
          <p>swimming pool</p>
        <% end %>
        <% if @home.type.nil? == true %>
          <%= @home.type %>
        <% end %>
      </div>
      <hr>
      <p>
        <strong>Description:</strong>
        <%= @home.description %>
      </p>
      <hr>
      <p>
        <%= @home.address %>, <%= @home.region %>, <%= @home.country %>
      </p>
   </div>

    <div class="col-4">
      <div class="container d-flex border">
        <p>Add dates and prices</p>
      </div>
    </div>
  </div>

 <div class="form-actions btn btn-primary rounded mb-3">
    <%= link_to 'Book now', new_home_booking_path(@home, @user) %>
  </div>

<div class="container">
  <h1>Reviews</h1>
  <div class="row">
    <div class="col-8 align-text-left">
      <% @reviews.each do |review| %>
        <div class="mb-12 p-3 border">
          <p>Created at: <%= review.created_at %> days</p>
          <p>Rating: <%= review.rating %></p>
          <p>Description: <%= review.description %> days</p>
        <%= link_to 'Edit', edit_home_review_path(review.id) %>
        <%= link_to 'Destroy', home_review_path(review.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
