<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <% if user_signed_in? %>
      <img src="https://res.cloudinary.com/dwmlgdrg1/image/upload/v1629022231/Black_logo_-_no_background_komh7w.png" />
    <% end %>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"><%= link_to "Home", homes_path %></a>
      </li>
      <li class="nav-item">
          <% if policy(Home).create? %>
        <a class="nav-link"><%= link_to "Add a home", new_home_path() %></a>
      <% end %>
      </li>
     <li class="nav-item">
        <a class="nav-link"><%= link_to "Bookings", bookings_path %></a>
      </li>
 
      <li class="nav-item dropdown text-secondary">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://res.cloudinary.com/dwmlgdrg1/image/upload/v1602752883/gw4hyztxpadpoe7g6c38.png" />
        <div class="dropdown-menu dropdown-menu-right p-2 font-italic text-decoration-none text-secondary" id="settings" aria-labelledby="navbarDropdown p-2">
          <% if user_signed_in? %>
            <%= link_to "Edit Profile", edit_user_registration_path %>
            <br>
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
          <% else %>
          <%= link_to "Sign In", new_user_session_path %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
